@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans';
}
.container{
    max-width: 1280px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    background: rgb(225, 196, 101);
}
header{
    max-width: 100%;
    height: 64px;
    position: fixed;
}